body {
  margin: 0px;
}

header {
  position: fixed;
  top: 0;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 40px;
  background-color: white;
  width: 100%;
}

header p {
  margin: 20px 40px;
}

.home:hover {
  color: #3b8637;
}

.about:hover {
  color: #009aff;
}

.work:hover {
  color: #fcb719;
}

.section1 {
  background-color: #3b8637;
  height: 100%;
  text-align: center;
  padding: 170px 0;
  font-family: "space mono", monospace;
}

/* .florist:hover {
  color: #79b3f4;
  cursor: pointer;
} */

.section2 {
  height: 100%;
  background-color: #009aff;
  font-size: 200%;
  font-family: "space mono", monospace;
  display: flex;
  flex-wrap: wrap;
}

.section2Title {
  flex: 0 0 80%;
  font-family: "Roboto Mono", monospace;
  margin-left: 40px;
}

.section2Wrapper {
  display: flex;
  flex-direction: row;
}

.section2Images {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-grow: 1;
}

.section2Text p {
  width: 800px;
  margin: 0 40px;
  padding: 30px 0;
}

.highlight {
  background-color: #dcd8d8;
  font-weight: bolder;
}

img {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  margin: 3px;
  padding: 3px;
}

.section3 {
  height: 100%;
  text-align: center;
  padding: 100px;
  background-color: #fcb719;
  font-size: 200%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "space mono", monospace;
}

.section3 h1 {
  text-align: justify;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.section4 h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  text-align: center;
  flex: 0 0 80%;
}

.project {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.projectWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 30px;
}

.projectCard p {
  font-family: "space mono", monospace;
  padding: 0 0 0 30px;
  width: 250px;
}

svg {
  width: 30px;
  height: 30px;
  margin: 16px 0px;
  padding: 0 0 0 30px;
}
